body {
    font-family: Arial, sans-serif;
    background-image: url('weather image.jpg');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    align-items: center;
    

}

.container {
    background: white;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}


.search {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.search input {
    flex: 1;
    align-items: center;
    padding: 8px;
}

.weather-info {
    line-height: 1.8;
}
